:root {
  --max-width: 1034px;
  --border: .1rem solid #fff;
  --color-primary: #FFC100;
  --color-secundary: #121212;
  --color-tercery: #fff;
  --color-querty: #222;
  --color-black: #111;
  --box-shadow: 0 .2rem .5rem rgba(0,0,0,.4);
  --hover: #d3d1d1a8;
  --bg-one: #4b494956;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  letter-spacing: .2rem;
  transition: all 0.6s ease;
  border: none;
}

html {
  overflow-x: hidden;
  font-size: 62.5%
}

body{
  background: var(--color-black);
  color: var(--color-tercery);
}

a{
  color: var(--color-tercery);
}

a:hover{
 color: var(--hover);
}

button{
  cursor: pointer;
}

audio{
  display: none !important;
}
